/*Aqui é especificado a fonte de todo o site, a cor de fundo e a cor de grande parte das letras.*/
body  
{
    font-family: verdana;
    color: white;
    background-color: black;
    background-image: linear-gradient(#3B3B3B,black);
}

/*Aqui fica a cor de fundo do cabeçalho, o espaçamento interno de seus elementos, a cor de suas letras, e a altura do mesmo.*/
header 
{
    padding: 10px;
    color: coral; 
    height: 90px;
    border-radius: 30px;
    background-color: cornflowerblue;
    background-image: linear-gradient(cornflowerblue,black);
}

/*Aqui fica a largura do título de nível h1 localizado no cabecalho cujo valor é auto, ou seja, a largura se adequará ao espaço preenchido pelas letras, e
o valor float, que especifica que o cabeçalho deve ficar à esquerda.*/
header h1 
{
    font-family:Arial black;
    width: auto;
    float: left;
}
header h1:nth-child(2)
{
    color: aqua;
}
/*Aqui é especificada a largura máxima da imagem no cabeçalho, que não deve ultrapassar o valor que ela mesma preenche, e a largura da imagem em si que 
preenche o espaço de 100px, a sua altura é de 90px, e o elemento float indica que ela deve ficar á direita.*/
header img
{
    max-width: 100%;
    width: 100px;
    height: 90px;
    float: right;
}
/*Aqui são específicados os valores da barra de navegação principal, o seu fundo é da cor vermelho coral, tem a altura de 35px, o elemento "font-weight"
ao qual é atribuido o valor bold, indica que as palavras devem ficar em negrito, o elemento "font-size" especifíca que o tamanho das letras devem ser de 
16px o "border-radius" está controlando o arredondado das bordas.*/
nav
{
    background-color: coral;
    height:38px; /*Se necessário mudar algo aqui*/
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}
/*Aqui são especificados os valores da lista de links do menu de navegação, o elemento "list-style-type" especifica o estilo da lista, o atributo atribuido
à ele(none) indica que a lista não possui um estilo, isso retira as bolinhas da margem dos elementos da lista, o elemento "height" com o valor "auto" indica
que a altura da lista é proporcional a ela mesma, o "padding" indica o espaçamento interno dos elementos da lista, o "text-align" alinha as letras e palavras
ao centro.*/
nav ul
{
    list-style-type: none;
    height: auto;
    padding: 10px;
    text-align: center;
}
/*Aqui são especificadas as propriedades de cada elemento da lista de links do menu de navegação principal, o elemento "display" ao qual está atribuido o 
valor "inline" faz com que os elementos da lista se disponham de forma alinhada, o "padding" configura o espaçamento interno dos elementos da lista.*/
nav li 
{
    display: inline;
    padding: 10px;
    
}
/*Aqui é especificado o estilo dos links do menu de navegação principal, "text-decoration" com o atributo "none" retira o sublinhado natural dos elementos
anchor, o color especifica a cor das letras, e o padding com esses 4 parametros especifica o espaçamento interno do bottom left top e right (não necessáriamente
nessa ordem).*/
nav a
{
    text-decoration: none;
    color: black;   
    padding: 10px 5px 10px 5px;
}
/*Faz com que a cor de fundo dos elementos da lista fiquem da cor escura e muda o espaçamento interno deles para 10px quando o mouse é colocado sobre esses 
elementos.*/
nav li:hover
{
    background-color: black;
    padding: 10px;
    transition: 0.5s;
}
/*Faz com que a cor das letras dos links se torne vermelho coral quando o mouse é colocado sobre os links.*/
nav a:hover
{
    color: coral;
}
/*Deixa a cor do artigo onde é colocado o conteudo principal do site em um tom de preto mais claro, muda o espaçamento interno de seus elementos para 5px
e impõe a altura minima como 480px.*/
article
{
    background-color: #222222;
    padding: 5px;
    min-height: 900px;
    border-radius: 20px;
    margin-bottom: 10px;
}
/*Muda a cor de fundo do rodapé para "cornflowerblue" e altera o espaçamento interno para 10 px, muda a cor das letras para preto, alinha o texto principal no 
meio e coloca a fonte em negrito.*/
footer
{
    background-color: cornflowerblue;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;

}
/*Faz com que videos e imagens fiquem sempre em seu tamanho total, porém, diminuam, caso a resolução do site diminua também.*/
img, video
{
    max-width: 100%;
}
/*Faz com que, a partir do momento em que a largura do site se torna maior do que 960px a largura total do elemento "body" seja sempre de 960px, e faz com que
a margem sempre se adeque de forma que o conteudo fique centralizado.*/
@media all and (min-width:960px) 
{
    body
    {
        width: 960px;
        margin: auto;
    }    
}
/*Faz com que, a partir do momento em que a largura do site se torne menor que 480px, o cabeçalho passe a ter 180px de altura, o menu de navegação passe a ter 
100% de altura, ou seja se adeque ao tamanho de seus elementos, o elemento "li" da lista do meno de navegação se torne um bloco, tenha espaçamento interno de 
10px e não possua margem, faz com que o elemento "aside" possua um tamanho equivalente ao necessário para comportar seus elementos, o elemento "li" do aside
se torne um bloco, possua espaçamento interno de 10px e não possua margem, e faz com que os links do elemento aside possuam um espaçamento interno de 10px e se 
tornem um bloco.*/
@media all and (max-width:480px)
{
    header
    {
        height: 180px;
    }
    nav
    {
        height: 100%;
    }
    nav li
    {
        display: block;
        padding: 10px;
        margin: 0px;
    }
    aside
    {
        height: 100%;
    }
    aside li
    {
        display:block;
        padding: 10px;
        margin: 0px;
    }
    aside a
    {
        padding: 10px;
        display: block;
    }
}
/*Faz com que todos os elementos da classe "btnLink" possuam uma borda da cor "corn flower blue" e uma cor de fundo igual a da borda, faz com que possuam um
espaçamento interno de 6px, faz com que os elementos fiquem alinhados, e alinha o texto ao centro, faz com que a raio da borda seja de 10px, e por último alinha
o elemento à direita.*/
article .btnLink
{
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    padding: 6px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    float:right;
}
/*Muda o botão btnLink quando o mouse é colocado por cima do mesmo.*/
article .btnLink:hover
{
    background-image: linear-gradient(cornflowerblue,#212121);
}
/*Faz com que os artigos com seções da classe conteudo sejam alinhados à esquerda.*/
article .conteudo
{
    float:left;
}
/*Faz com que os botões e os elementos da classe btnBotao tenham um aspecto de cor "corn flower blue", não possuam borda, possuam um espaçamento dos elementos internos
de 6px, faz com que possuam uma margem externa de 0px, e faz com que as letras dentro do botao sejam em negrito.*/
article button, .btnBotao
{
    background-color: cornflowerblue;
    border: none 3px #000000;
    padding: 6px;
    margin: 0;
    font-weight: bold;
}
/*Faz com que os elementos da classe .btnMais tenham a borda de cor vermelho coral, tenham a espessura de 2px, e possuam espaçamento interno de 3px, sejam flutuantes para a
esquerda e sejam elementos "inline-block" alinha o texto dentro do elemento no centro, faz com que a borda seja de 6px, e a cor das letras seja "corn flower blue".*/
article .btnMais
{
    border: solid 2px coral;
    padding: 3px;
    float: left;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    color: cornflowerblue;
}
/*Faz com que os elementos input possuam cor vermelho coral, não possuam borda e tenham o raio da borda de 6px, faz com que as letras estejam em negrito, e o espaçamento interno seja de 4px.*/
article input
{
    background-color: coral;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 4px;
}
/*Faz com que os elementos da classe register dentro de um artigo, se alinhem ao centro atrávez da margem automática, e tenha a largura máxima de 310px.*/
article .register
{
    margin: auto;
    max-width: 310px;
}
/*Faz com que a os elementos da classe login possuam uma margem automática e se alinhem ao centro, também faz com que a largura máxima seja de 250px.*/
article .login
{
    margin: auto;
    max-width: 250px;
}
/*Tira o sublinhado dos links.*/
a
{
    text-decoration: none;
}
/*Faz com que os elementos da classe btnMorenc possuam uma borda solida de expessura 2px e cor coral, possuam um espaçamento interno de 3px, alinha os textos no 
centro do botão, transforma o botão num bloco, alinha-o ao centro através da margem automática, faz com que tenha a largura de 100px, e o raio da borda de 6px.*/
article .btnMorenc
{
    border: solid 2px coral;
    padding: 3px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 6px;
}
/*Faz com que os links dentro de um artigo tenham a cor azul.*/
article a
{
    color:cornflowerblue;
}
/*Faz com que os links dentro de um elemento da classe btnLink tenham a cor branca.*/
article .btnLink a
{
    color: white;
}
/*Faz com que os elementos com o id lLink possuam sublinhado e tenham o tamanho do texto de 10px.*/
#lLink
{
    text-decoration: underline;
    font-size: 10px;
}
/*Faz com que a largura máxima dos elementos da classe descrição seja de 500px, sejam alinhados à esquerda e sejam blocos alinhados.*/
article .descricao
{
    max-width: 500px;
    float: left;
    display: inline-block;
}
/*Faz com que os elementos da classe download possuam altura minima de 200px.*/
article .download
{
    min-height: 200px;
}
/*Faz com que a tabela de downloads da classse tblDownloads seja um bloco alinhado, possua uma borda de cor corn flower blue, e 1px de espessura, e as letras de 
cor coral.*/
article .tblDownloads
{
    display: inline-block;
    border: solid 1px cornflowerblue;
    color: coral;
}
/*Faz com que os elementos td e th da tabela da classe tblDownloads possuam uma borda de 1px de espessura de cor corn flower blue e espaçamento interno
de 5px.*/
article .tblDownloads td,th
{
    border: solid 1px cornflowerblue;
    padding: 5px;
    
}
/*Faz com que os elementos aside se tornem blocos alinhados, com a cor de fundo coral e o raio da borda de 10px.*/
aside 
{
    display: inline-block;
    background-color: coral;
    border-radius: 10px;
}
/*Faz com que a lista do elemento aside não possua um estilo, isso tira as bolinhas, faz com que o texto se alinhe no centro, e a margem seja de 3px, e o
espaçamento interno de 0px.*/
aside ul
{
    list-style-type: none;
    text-align: center;
    margin: 3px;
    padding: 0px;
}
/*Faz com que o elemento li da lista do aside seja um elemento inline e com espaçamento interno de 5px.*/
aside li
{
    display: inline;
    padding: 5px;
}
/*Faz com que o link da o elemento aside possua letras da cor preto, faz com que as fontes fiquem em negrito, e o espaçamento interno seja de 5px.*/
aside a
{
    color: black;
    font-weight: bold;
    padding: 5px;
}
/*Faz com que os links fiquem com a cor de fundo preto, e a cor das letras coral quando o mouse é colocado por cima do link.*/
aside a:hover
{
    background-color: black;
    color: coral;
}
/*Faz com que os elementos da classe configMenu que ficam nas configurações do usuário possuam largura máxima de 400px e sejam alinhados à esquerda*/
.configMenu
{
    max-width: 400px;
    float: left;
}
/*Faz com que os elementos com id #configCont que ficam nas configurações do usuário possuam largura máxima de 4400px e sejam alinhados à direita*/
#configCont
{
    max-width: 4400px;
    float: right;
}